@font-face {
    font-family: mandalorian;
    src: url(assets/img/fonts/Mandalorian.otf);
}

HTML,
body {
    margin: 0;
    padding: 0;
    border: 0px;
}

body {
    background-color: black;
    color: lightgrey;
    font-family: 'Poppins', sans-serif;

}

.navbar {

    background-color: black;
}



.margin-nav {
    margin-top: 80px;
}

.navbar-toggler {
    width: 60px;
    margin-bottom: 9px;
}




h1 {
    font-family: mandalorian;
    font-size: 42px;
    color: rgb(237, 182, 42);


}

h2 {
    font-family: mandalorian;

    font-size: 34px;
    text-align: center;
    color: rgb(237, 182, 42);
}

h4 {
    font-family: 'Anton', sans-serif;
    font-size: 36px;
    color: rgb(237, 182, 42);
}



p {
    font-size: 16px;
    font-weight: 300;
    padding: 1em;
    line-height: 1.6;

}



.foto-info {
    font-size: 11px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-family: 'Poppins';
    font-size: 14px;
    background-color: black;
    color: rgb(237, 182, 42);
    border-color: rgb(237, 182, 42);
    width: 120px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.readmore {
    text-align: center;
}

/*  css for cards in characters*/

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card-body {
    text-align: center;
    background-color: black;
    color: lightgray;
}

.card-body h5 {
    font-size: 28px;
    font-family: 'Anton', sans-serif;
    color: rgb(237, 182, 42);
    text-align: center;
}

.card-body a {
    color: rgb(237, 182, 42);
}